.NotificationContainer {
    background-color: white !important;
    border-radius: 3px !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05) !important;
    border: solid 1px $gray6 !important;
    overflow: visible !important;

    .Notification {
        font-weight: normal !important;
        font-style: normal !important;
        font-stretch: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;

        .icon-container {
            margin-left: -30px;
            margin-right: 10px;
            transform: skewX(-5deg);
            width: 38px;
            height: 38px;
            border-radius: 3px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

            &.success {
                background-image: linear-gradient(to bottom, $blue7, $blue4);
            }

            &.informational {
                background-image: linear-gradient(to bottom, $green1, $green2);
            }

            &.warning {
                background-image: linear-gradient(to bottom, $yellow1, $yellow2);
            }

            &.error {
                background-image: linear-gradient(to bottom, $red1, $red2);
            }

            .icon {
                color: white;
                font-family: FontAwesome;
                font-size: 18px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
            }
        }

        .body {
            width: 320px;

            .title {
                font-size: 18px;
                color: $gray3;
            }

            .message {
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                color: $gray4;
            }
        }
    }

    .success-progress {
        background: linear-gradient(to right, $blue7, $blue4);
    }

    .informational-progress {
        background: linear-gradient(to right, $green1, $green2);
    }

    .error-progress {
        background: linear-gradient(to right, $red1, $red2)
    }

    .warning-progress {
        background: linear-gradient(to right, $yellow1, $yellow2)
    }
}