.BlizzardOAuth {
  width: 100%;

  & > .button-primary {
    width: 180px;
    min-height: 35px;
    font-family: Industry, Roboto, sans-serif;
    margin-bottom: 35px;
  }

  .LoginFailedCard {
    width: 44%;
  }

  .SiteInformation {
    position: absolute;
    top: 100vh;
  }

  .ScrollButton {
    margin-top: auto;
    margin-bottom: 10px;
  }

}