$time: 3.5s;
$delay: $time / 14;
$hexa-color: #556c82;
$circle-bg-color: #e3e4dc;
$circle-slow-color: #98938f;
$circle-fast-color: #cac3bf;

.LoadingSpinner {
  #hexas path {
    fill: $hexa-color;
  }

  #circles {
    .bg {
      stroke: $circle-bg-color;
    }
    .slow {
      stroke: $circle-slow-color;
      animation: slowdash $time linear infinite,
      rotate $time linear infinite;
      transform-origin: 50% 50%;
    }
    .fast {
      stroke: $circle-fast-color;
      animation: fastdash $time linear infinite,
      rotate $time linear infinite;
      transform-origin: 50% 50%;
    }
  }

  @for $i from 0 through 6 {
    #hexas path:nth-child( #{$i + 1} ) {
      animation: hexa $time #{$i * $delay} infinite;
      transform-origin: 50% 50%;
    }
  }

  // keyframes
  @keyframes slowdash {
    0%, 100% {
      stroke-dasharray: 100, 2500;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 200, 2500;
      stroke-dashoffset: -100;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(-45deg);
    }

    50% {
      transform: rotate(135deg);
    }
    100% {
      transform: rotate(315deg);
    }
  }

  @keyframes fastdash {
    0% {
      stroke-dasharray: 1, 2500;
    }
    25% {
      stroke-dasharray: 1900, 2500;
      stroke-dashoffset: -100;
    }
    75% {
      stroke-dasharray: 2100, 2500;
      stroke-dashoffset: -400;
    }
    100% {
      stroke-dasharray: 2500, 2500;
      stroke-dashoffset: -2500;
    }
  }

  @keyframes hexa {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    15%, 50% {
      transform: scale(0.5);
      opacity: 0;
    }
    65% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .loader-container {
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
    position: relative;
    text-align: center;
    height: 100%;
  }

  .loader {
    display: inline-block;
    vertical-align: middle;

    height: 75%;
    max-height: 200px;

    svg {
      width: 100%;
      height: 100%;
    }

  }
}