.HeroSelectorCard {
  .header {
    border-bottom: 1px solid $gray6;
    padding: 16px 16px 12px 16px;
  }

  .body {
    padding: 6px;
  }

  .HeroSelector {
    .HeroButton {
      &::after {
        content: '';
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        background-color: $transparentGray1;
      }

      &.selected:after {
        display: none;
      }
    }
  }
}