.HeroStatsList {
  .header {
    span {
      padding-right: 10px;
    }

    .HeroImage {
      margin-right: 10px;
      height: 50px;
      width: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  div.body {
    max-height: 400px;
    overflow-y: auto;

    .HeroStatsListItem:first-child {
      margin-top: -18px;
    }
  }

  .button-secondary {
    height: 30px;
  }
}