@mixin square {
  width: 50px;
  height: 50px;
}

.HeroStatsListItem {
  border-bottom: 1px solid $gray6;
  padding: 15px 0;

  .crown {
    position: relative;
    left: -65px;
    top: -15px;
  }

  .HeroImage {
    @include square;
    margin-right: 10px;
  }

  .disabled {
    @include square;
    margin-right: 10px;
  }

  .HeroStat {
    margin-top: 15px;
    width: 30%;
  }

  .record {
    width: 180px;
    margin-left: auto;
  }

  .stat {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: $gray3;
  }
}