$width: 43px;
$height: 43px;

.HeroSlot {
  margin: 1px;
  width: $width;
  height: $height;
  background-color: $gray1;
  color: $gray2;
  border-radius: 3px;
  cursor: pointer;

  &.selected {@include selected}

  &:hover {
    @include selected;
  }

  .HeroImage {
    height: $width;
    width: $height;
    border-radius: 3px;
  }
}