.button-primary {
  background-image: linear-gradient(-180deg, $blue2 0%, $blue3 100%);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
  font-weight: bold;
  height: 34px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  transform: skewX(-20deg);
  width: 100%;
  cursor: pointer;
}

.button-secondary {
    background-image: linear-gradient(-180deg, $yellow2 0%, $yellow3 100%);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    height: 34px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    transform: skewX(-20deg);
  }
  
  .button-content {
    transform: skewX(20deg);
  }