@mixin button($color1, $color2) {
  background-image: linear-gradient(-180deg, $color1 0%, $color2 100%);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: none;
  color: white;
  font: 400 14px 'Roboto', sans-serif;
  font-weight: bold;
  height: 34px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  transform: skewX(-20deg);
  padding: 5px 10px;
  cursor: pointer;
}

.button-primary {
  @include button($blue2, $blue3);
}

.button-secondary {
  @include button($yellow2, $yellow3);
}

.button-tertiary {
  color: $gray1;
  padding: 5px 10px;
  & > * {
    cursor: pointer;
  }
}

.button-five {
  @include button($gray10, $gray11);
}

.button-six {
  @include button($red1, $red2);
}

.button-four {
  @include button($blue2, $blue3);
  width:100%;
}

.close-button {
  .fa-times {
    line-height: inherit;
  }

  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: $gray1;
  background-color: white;
  border: 1px solid $gray5;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
  
.button-content {
    transform: skewX(20deg);
}