$blue1: #38445C;
$blue2: #3ba0ff;
$blue3: #2b72ff;
$blue4: #338BF6;

$gray1: #C2C9D4;
$gray2: #82868D;
$gray3: #67738C;
$gray4: #ABB4C3;
$gray5: #D8DADF;
$gray6: #EAEEF4;
$gray7: #F0F1F4;
$gray8: #D3D7E0;
$gray9: #F3F4F7;


$yellow1: #FCBE3B;
$yellow2: #FFC029;
$yellow3: #F7981C;

$transparentBlue1: rgba(67, 75, 91, 0.9);
$transparentGray1: rgba(234, 238, 244, 0.7);
$transparentYellow1: rgba(252, 190, 59, 0.7);
$shadow: rgba(0,0,0,0.05);