$blue1: #38445C;
$blue2: #3ba0ff;
$blue3: #2b72ff;

$gray1: #C2C9D4;
$gray2: #82868D;
$gray3: #67738C;
$gray4: #ABB4C3;
$gray5: #D8DADF;
$gray6: #EAEEF4;


$yellow1: #FCBE3B;
$yellow2: #FFC029;
$yellow3: #F7981C;