$blue1: #38445C;
$blue2: #3ba0ff;
$blue3: #2b72ff;
$blue4: #338BF6;
$blue5: #14d6fa;
$blue6: #434b5b;
$blue7: #10ace2;

$gray1: #C2C9D4;
$gray2: #82868D;
$gray3: #67738C;
$gray4: #ABB4C3;
$gray5: #D8DADF;
$gray6: #EAEEF4;
$gray7: #F0F1F4;
$gray8: #D3D7E0;
$gray9: #F3F4F7;
$gray10: #B5B5B5;
$gray11: #878787;
$gray12: #969696;
$gray13: #C9C9C9;
$gray14: #BCBCBC;
$gray15: #EDEDED;
$gray16: #D7D7D7;
$gray17: #F5F5F5;

$red1: #e14332;
$red2: #b12718;

$yellow1: #FCBE3B;
$yellow2: #FFC029;
$yellow3: #F7981C;

$green1: #00ff00;
$green2: #00b200;

$transparentBlue1: rgba(67, 75, 91, 0.9);
$transparentGray1: rgba(234, 238, 244, 0.7);
$transparentGray2: rgba(234, 238, 244, 0.4);
$transparentYellow1: rgba(252, 190, 59, 0.7);
$shadow: rgba(0,0,0,0.05);