.input-primary {
    display: inline-block;
    width: 380px;
    height: 34px;
    margin: 5px;
    line-height: 50px;
    font-size: 16px;
    vertical-align: middle;
    border-color: #fff;
    transform: skew(-0.15rad);
}