@mixin greyRoboto ($fontSize) {
  font-family: 'Roboto', sans-serif;  
  font-size: $fontSize;
  color: $gray4;
}

.search-hints {
  @include greyRoboto(14px);
  text-indent: 3%;
}

.actionable-text {
  @include greyRoboto(14px);
}

.sub-title {
  @include greyRoboto(12px);
}

.sidebar-title {
  font-family: 'Industry', sans-serif;
  font-weight: bold;
  color: $gray3;
  margin-bottom: 21px;
}

.numbers {
  font-family: 'Industry', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-family: 'Industry', sans-serif;
  font-size: 24px;
  margin: 0 0 0 0;
  color: $gray3;
}

h3 {
  font-family: 'Industry', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 0 0;
  color: $gray3;

  &.regular {
    font-weight: normal;
  }
}