.LoginFailedCard {
  box-sizing: border-box;
  padding: 24px;

  .error-title {
    margin-bottom: 24px;

  }

  .suggestions {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
  }
}