@mixin roundedRect {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin: 1px;

  &:hover {
    margin: 0;
    box-shadow: 0 0 8px 0 $blue4;
    border: solid 1px $blue4;
    cursor: pointer;
  }
}

.PreferredHeroes-AddHeroIcon {
  @include roundedRect;
  color: $gray2;
  background-color: $gray1;
}

.PreferredHeroes-HeroList {

  .HeroImage {
    @include roundedRect
  }

  .fa.fa-cog {
    color: $gray4;
    cursor: pointer;
  }
}
