@mixin roundedRect {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}

.PreferredHeroes-AddHeroIcon {
  @include roundedRect;
  color: $gray2;
  background-color: $gray1;
}

.PreferredHeroes-HeroList {

  .HeroImage {
    @include roundedRect
  }

  .fa.fa-cog {
    color: $gray4;
    cursor: pointer;
  }
}

.Hero-selector-overlay-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $transparentBlue1;

  .Hero-selector-modal-open {
    margin: 15% 25%;
    background: white;

    &:focus {
      outline: none;
    }
  }
}

