.GroupContainer {
    display:flex;
    flex-direction:column;
    width:300px;
    
    .inLine0 {
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        color:#484747;
    }

    .leaveText {
        text-align:center;
        font-size:12px;
        cursor: pointer;
        color:#B6B6B6;
    }
}