.UserCard {
    padding: 10px;

    img {
        height: 50px;
        width: 50px;
    }

    .player-info {
        margin-left: 10px;
    }

    .display-name {
        font-size: 14px;
        color: $blue6;
        font-weight: bold;
    }

    .account-detail {
        img {
            height: 17px;
            width: 17px;
            margin-right: 2px;
        }

        font-size:12px;
        color:$gray3;
        margin-right: 5px;
        padding-left: 5px;
        border-left: 1px solid $gray4;

        &:first-of-type {
            border: none;
            padding: 0;
        }
    }
}