.InvitesGridItem {
  .body {
    padding: 0;
  }

  .button-group {
    visibility: hidden;
    margin-top: auto;
    position: relative;
    top: 17px;
  }

  .button {
    padding: 0;
    width: 100px;
    height: 34px;
  }
  
  &:hover {
    .button-group {
      visibility: visible;
    }
  }
}