.LoginPage {
  position: relative;
  overflow-y: auto;

  & > div {
    z-index: 1;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: 0;

    img {
      position: relative;
      top: -300px;
      width: 100%;
      height: 900px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $transparentBlue1;
    }
  }


  .title {
    margin-top: 150px;
    margin-bottom: 19px;
    min-height: 66px;

    h1 {
      color: white;
      font-size: 36pt;
      margin: 5px 0 0 5px;
    }

    .logo {
      height: 50pt;
    }
  }

  .info-line {
    font-size: 16px;
    color: white;
    margin-bottom: 75px;
  }

  .gdpr-container {
    min-width: 500px;
    width: 44%;
    padding: 15px;
    margin-bottom: 30px;

    .gdpr-label {
      margin:3px;
      font-size:12px;
    }

  }

  .preferences-container {
    background-color: white;
    min-width: 500px;
    width: 44%;
    min-height: 150px;
    margin-bottom: 30px;
    padding:15px;

    h3 {
      margin-bottom: 16px;
    }

    .region-selection {
      min-width: 212px;
      width: 30%;
    }

    .platform-selection {
      width: 50%;
    }

    .selector-label {
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }

  .copyright-box {
    position: absolute;
    bottom: 10px;
    color: $gray3;
  }

  .BlizzardOAuth {
    min-height: 60px;
  }
}