.LoginPage {
  .title {
    margin-top: 16vh;
    margin-bottom: 19px;

    h1 {
      color: $blue1;
      font-size: 36pt;
      margin: 5px 0 0 5px;
    }

    .logo {
      height: 50pt;
    }
  }

  .info-line {
    font-size: 16px;
    color: $gray3;
    margin-bottom: 75px;
  }

  .preferences-container {
    background-color: white;
    min-width: 500px;
    width: 44%;
    min-height: 150px;
    margin-bottom: 40px;

    h3 {
      margin-bottom: 16px;
    }

    .region-selection {
      min-width: 212px;
      width: 30%;
    }

    .platform-selection {
      width: 50%;
    }

    .selector-label {
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }

  .copyright-box {
    margin-top: auto;
    margin-bottom: 20px;
    color: $gray3;
  }


}