.Title {
  width: 100%;

  img {
    height: 30px;

  }

  .fireteam {
    margin-top: 5px;
    font-family: 'Industry', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    color: $blue1;
  }

  .alpha-tag {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    background-color: $blue6;
    padding: 5px;
    color: white;
  }
}