$border: 1px solid $gray5;

@mixin selected() {
  border: 1px solid $blue4;
  box-shadow: 0 0 8px 0 $blue4;
  margin: 0;
}

.PreferredHeroSelector {
  .hero-slots {
    width: 250px;
  }

  .HeroImage {
    margin: 1px;
    height: 50px;
    width: 50px;
    border-radius: 3px;

    &:hover {
      @include selected;
      cursor: pointer;
    }
  }

  div.body {
    padding: 12px;
  }

  .HeroButton {
    &.selected {
      @include selected;
      margin: 9px;
    }

    &.disabled {
      &::after {
        display: block;
        content: "";
        position: relative;
        border-radius: 3px;
        height: 100%;
        width: 100%;
        background-color: $transparentGray1;
      }
    }
  }

  .footer {
    height: 39px;

    .button-six {
      height: 28px;
      margin-left: auto;
    }

    .button-group {
      margin-left: auto;
      margin-right: 5px;

      div {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .button-primary {
      padding: 2px 18px 2px 18px;
    }

    .last-action-taken {
      font-style: italic;
      color: $blue4;

      b {
        margin-right: 5px;
      }
    }
  }
}